@media screen and (max-width: 1200px) {
  .mainContent {
    width: 100% !important;
    left: 0 !important;
    .headerContainer {
      .logo {
        display: block !important;
        margin-left: 50px !important;
        img {
          width: 40px;
          height: 48px;
        }
      }
      .headline {
        margin-left: 10px !important;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .mainContent {
    width: 100% !important;
    left: 0 !important;
    .headerContainer {
      .logo {
        display: block !important;
        margin-left: 25px !important;
        img {
          width: 40px;
          height: 48px;
        }
      }
      .headline {
        display: none !important;
      }
      .headerNav {
        margin-right: 20px !important;
      }
    }
  }
}
