<div class="mainContent">
    <div class="headerContainer">
        <div class="headline">Kanban Project Management Tool</div>
        <div class="headerNav">
            <div class="help" (click)="navigateToHelp()">
                <img src="./../../assets/img/help.png" alt="">
            </div>
            <div class="menu" (mouseenter)="onMenuMouseEnter()" (mouseleave)="onMenuMouseLeave()">
                <div class="menuButton">{{ initials }}</div>
            </div>
        </div>
    </div>
    <div class="menuContainer" id="menuContainer" [ngStyle]="{'display': showMenu ? 'block' : 'none'}"
        (mouseenter)="onMenuContainerMouseEnter()" (mouseleave)="onMenuContainerMouseLeave()">
        <div class="menuLink" id="privacyPolicy">Privacy Policy</div>
        <div class="menuLink" id="legalNotice">Legal Notice</div>
        <div class="menuLink" id="logOut" (click)="logout()">Log out</div>
    </div>
</div>