<div class="mainContent">
    <div class="headerContainer">
        <div class="headline">Kanban Project Management Tool</div>
        <div class="headerNav">
            <div class="help">
                <img src="./../../assets/img/help.png" alt="">
            </div>
            <div class="menu">
                <div class="menuButton">TH</div>
            </div>
        </div>
    </div>
    <div class="menuContainer" id="menuContainer" style="display: none;">
        <div class="menuLink" id="privacyPolicy">Privacy Policy</div>
        <div class="menuLink" id="legalNotice">Legal Notice</div>
        <div class="menuLink" id="logOut">Log out</div>
    </div>
</div>