<div class="mainContainer">
    <div class="mainInnerContainer">
        <div class="contentContainer">
            <div class="headlineContainer">
                <h1>Join 360</h1>
                <div class="blueLine"></div>
                <h3>Key Metrics at a Glance</h3>
            </div>
            <div class="upperRow">
                <div class="todoContent row1Content" (click)="navigateToBoard()">
                    <img src="./../../../assets/img/pencil-icon-summary.png" alt="">
                    <div class="row1InfoContent">
                        <div class="row1Counter">{{ todoCount }}</div>
                        <div class="row1Text">To Do</div>
                    </div>
                </div>
                <div class="doneContent row1Content" (click)="navigateToBoard()">
                    <img src="./../../../assets/img/done-icon-summary.png" alt="">
                    <div class="row1InfoContent">
                        <div class="row1Counter">{{ doneCount }}</div>
                        <div class="row1Text">Done</div>
                    </div>
                </div>
            </div>

            <div class="midRow">
                <div class="midRowInnerContainer" (click)="navigateToBoard()">
                    <div class="urgentInfoContainer">
                        <img src="./../../../assets/img/UrgentLogo.png" alt="">
                        <div class="urgentInfoContent">
                            <div class="urgentCounter">{{ urgentCount }}</div>
                            <div class="urgentText">Urgent</div>
                        </div>
                    </div>
                    <div class="urgentLine"></div>
                    <div class="urgentDateContainer">
                        <div class="urgentDateInnerContainer">
                            <div class="urgentDeadlineDate urgentText">{{ nextUrgentDeadline | date: 'MMMM d, y' }}
                            </div>
                            <div class="urgentDeadlineText urgentText">Upcoming Deadline</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lowerRow">
                <div class="tasksInBoardContainer row3InfoContent" (click)="navigateToBoard()">
                    <div class="row3Counter">{{ tasksInBoardCount }}</div>
                    <div class="row3Text boardText">Tasks in Board</div>
                </div>
                <div class="tasksInProgressContainer row3InfoContent" (click)="navigateToBoard()">
                    <div class="row3Counter">{{ inProgressCount }}</div>
                    <div class="row3Text">Tasks in Progress</div>
                </div>
                <div class="tasksAwaitingFeedbackContainer row3InfoContent" (click)="navigateToBoard()">
                    <div class="row3Counter">{{ awaitingFeedbackCount }}</div>
                    <div class="row3Text">Awaiting Feedback</div>
                </div>
            </div>
        </div>
        <div class="welcomeContainer">
            <div class="dayTime">{{ greeting }}</div>
            <div class="userName">{{ firstName }}</div>
        </div>
    </div>
</div>