@media (max-width: 1200px) {
  .mainContainer {
    left: 0 !important;
    width: 100% !important;
    height: calc(100% - 196px) !important;
    width: 100% !important;

    @include dFlex();

    .mainInnerContainer {
      margin-left: 0 !important;
      justify-content: center !important;
      .contentContainer {
        width: 100% !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        .headlineContainer {
          //   display: none !important;
          flex-direction: column !important;
          align-items: flex-start !important;
          justify-content: center !important;
          gap: 10px !important;
          margin-left: 5px !important;
          margin-top: 45px !important;
          margin-bottom: 40px !important;
          width: 70vw !important;
          h1 {
            font-size: 45px !important;
            margin: 0 !important;
          }
          .blueLine {
            width: 200px !important;
            height: 2px !important;
            padding: 1px !important;
          }
          h3 {
            font-size: 20px !important;
            margin: 0 !important;
          }
        }
      }
      .welcomeContainer {
        display: none !important;
        align-items: center !important;
        .dayTime {
          margin-left: 0 !important;
        }
        .userName {
          margin-left: 0 !important;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .mainContainer {
    .mainInnerContainer {
      .contentContainer {
        .headlineContainer {
          margin-top: 0 !important;
          margin-bottom: 20px !important;
        }
        .upperRow {
          .row1Content {
            img {
              width: 60px !important;
              height: 60px !important;
            }
            .row1InfoContent {
              .row1Counter {
                font-size: 50px !important;
              }
              .row1Text {
                font-size: 16px !important;
              }
            }
          }
        }
        .midRow {
          .midRowInnerContainer {
            .urgentInfoContainer {
              img {
                width: 60px !important;
                height: 60px !important;
              }
              .urgentInfoContent {
                .urgentCounter {
                  font-size: 50px !important;
                }
                .urgentText {
                  font-size: 16px !important;
                }
              }
            }
            .urgentLine {
              width: 2px !important;
            }
            .urgentDateContainer {
              .urgentDateInnerContainer {
                .urgentDeadlineDate {
                  font-size: 16px !important;
                }
                .urgentDeadlineText {
                  font-size: 12px !important;
                }
              }
            }
          }
        }
        .lowerRow {
          .row3InfoContent {
            .row3Counter {
              font-size: 50px !important;
            }
            .row3Text {
              font-size: 16px !important;
              width: 80%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .mainContainer {
    .mainInnerContainer {
      .contentContainer {
        gap: 8px !important;
        .upperRow {
          .row1Content {
            gap: 20px !important;
            img {
              width: 50px !important;
              height: 50px !important;
            }
            .row1InfoContent {
              .row1Counter {
                font-size: 50px !important;
              }
              .row1Text {
                font-size: 16px !important;
              }
            }
          }
        }
        .midRow {
          .midRowInnerContainer {
            .urgentInfoContainer {
              img {
                width: 50px !important;
                height: 50px !important;
              }
              .urgentInfoContent {
                .urgentCounter {
                  font-size: 50px !important;
                }
                .urgentText {
                  font-size: 16px !important;
                }
              }
            }
            .urgentLine {
              width: 2px !important;
            }
            .urgentDateContainer {
              .urgentDateInnerContainer {
                .urgentDeadlineDate {
                  font-size: 16px !important;
                }
                .urgentDeadlineText {
                  font-size: 12px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .mainContainer {
    .mainInnerContainer {
      .contentContainer {
        gap: 5px !important;
        .upperRow {
          .row1Content {
            gap: 10px !important;
            img {
              width: 50px !important;
              height: 50px !important;
            }
            .row1InfoContent {
              .row1Counter {
                font-size: 50px !important;
              }
              .row1Text {
                font-size: 16px !important;
              }
            }
          }
        }
        .midRow {
          .midRowInnerContainer {
            .urgentInfoContainer {
              img {
                width: 50px !important;
                height: 50px !important;
              }
              .urgentInfoContent {
                .urgentCounter {
                  font-size: 50px !important;
                }
                .urgentText {
                  font-size: 16px !important;
                }
              }
            }
            .urgentLine {
              width: 2px !important;
              height: 75px !important;
            }
            .urgentDateContainer {
              .urgentDateInnerContainer {
                .urgentDeadlineDate {
                  font-size: 14px !important;
                }
                .urgentDeadlineText {
                  font-size: 12px !important;
                }
              }
            }
          }
        }
        .lowerRow {
          .row3InfoContent {
            .row3Counter {
              font-size: 45px !important;
            }
            .row3Text {
              font-size: 12px !important;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
