<div class="mainContainer">
    <div class="headContainer">
        <div class="headline">
            <h1>Board</h1>
        </div>
        <div class="headSideContent">
            <div class="searchInput">
                <input type="text" placeholder="Find Task" class="inputField" [(ngModel)]="searchTerm">
                <div class="hline"></div>
                <img src="./../../../assets/img/search.png" alt="" class="searchImg">
            </div>
            <button class="addTask" (click)="openAddTaskModal()">Add Task <img src="./../../../assets/img/add.png"
                    alt=""></button>
        </div>
    </div>
    <div class="board">
        <div class="innerBoard">

            <!-- ----------- Todo ------------ -->

            <div class="todoContainer contentContainer" (drop)="onTaskDrop($event, 'todo')"
                (dragover)="onDragOver($event, 'todo')">
                <div class="containerHead" id="todoContainerHead">
                    <h4>To do</h4>
                    <img src="./../../../assets/img/plusbutton.png" alt="" (click)="openAddTaskModal('todo')">
                </div>
                <div class="scrollContainer" [ngClass]="{'drop-active': isDragging && draggingOver === 'todo'}">
                    <span *ngIf="getTasksByStatus('todo').length === 0">
                        {{ searchTerm ? 'No results found' : 'No Task To do' }}
                    </span>
                    <ng-container *ngFor="let task of getTasksByStatus('todo')">
                        <div *ngIf="task.status === 'todo'" class="taskCard" draggable="true"
                            (dragstart)="task.id ? onDragStart($event, task.id) : null" (dragend)="onDragEnd()"
                            (click)="openTaskDetail(task)">
                            <div class="category" [ngClass]="getCategoryClass(task.category)">
                                {{ task.category }}
                            </div>
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description }}</p>
                            <div class="subtasks" *ngIf="task.subtasks.length > 0">
                                <div class="progressBarSubtasks">
                                    <div class="progress" [style.width.%]="getSubtaskCompletionPercentage(task)"></div>
                                </div>
                                <div class="subtaskCounter">
                                    {{ getCompletedSubtaskCount(task) }}/{{ task.subtasks.length }} Subtasks
                                </div>
                            </div>
                            <div class="contactPrioContainer">
                                <div class="contacts">
                                    <div *ngFor="let userId of task.assignedTo.slice(0, 3)" class="contact"
                                        [style.background-color]="getUserColor(userId)">
                                        {{ getUserInitials(userId) }}
                                    </div>
                                    <div *ngIf="task.assignedTo.length > 3" class="contact more-circle">
                                        +{{ task.assignedTo.length - 3 }}
                                    </div>
                                </div>
                                <div class="priority">
                                    <img [src]="getPriorityImage(task.priority)" alt="priority icon">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>


            <!-- In progress -->

            <div class="inProgressContainer contentContainer" (drop)="onTaskDrop($event, 'inProgress')"
                (dragover)="onDragOver($event, 'inProgress')">
                <div class="containerHead" id="inProgressHead">
                    <h4>In progress</h4>
                    <img src="./../../../assets/img/plusbutton.png" alt="" (click)="openAddTaskModal('inProgress')">
                </div>
                <div class="scrollContainer" [ngClass]="{'drop-active': isDragging && draggingOver === 'inProgress'}">
                    <span *ngIf="getTasksByStatus('inProgress').length === 0">
                        {{ searchTerm ? 'No results found' : 'No Task In progress' }}
                    </span>
                    <ng-container *ngFor="let task of getTasksByStatus('inProgress')">
                        <div *ngIf="task.status === 'inProgress'" class="taskCard" draggable="true"
                            (dragstart)="task.id ? onDragStart($event, task.id) : null" (dragend)="onDragEnd()"
                            (click)="openTaskDetail(task)">
                            <div class="category" [ngClass]="getCategoryClass(task.category)">
                                {{ task.category }}
                            </div>
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description }}</p>
                            <div class="subtasks" *ngIf="task.subtasks.length > 0">
                                <div class="progressBarSubtasks">
                                    <div class="progress" [style.width.%]="getSubtaskCompletionPercentage(task)"></div>
                                </div>
                                <div class="subtaskCounter">
                                    {{ getCompletedSubtaskCount(task) }}/{{ task.subtasks.length }} Subtasks
                                </div>
                            </div>
                            <div class="contactPrioContainer">
                                <div class="contacts">
                                    <div *ngFor="let userId of task.assignedTo.slice(0, 3)" class="contact"
                                        [style.background-color]="getUserColor(userId)">
                                        {{ getUserInitials(userId) }}
                                    </div>
                                    <div *ngIf="task.assignedTo.length > 3" class="contact more-circle">
                                        +{{ task.assignedTo.length - 3 }}
                                    </div>
                                </div>
                                <div class="priority">
                                    <img [src]="getPriorityImage(task.priority)" alt="priority icon">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>


            <!-- Await feedback -->


            <div class="awaitFeedbackContainer contentContainer" (drop)="onTaskDrop($event, 'awaitFeedback')"
                (dragover)="onDragOver($event, 'awaitFeedback')">
                <div class="containerHead" id="awaitFeedbackHead">
                    <h4>Await feedback</h4>
                    <img src="./../../../assets/img/plusbutton.png" alt="Add Task"
                        (click)="openAddTaskModal('awaitFeedback')" />
                </div>
                <div class="scrollContainer"
                    [ngClass]="{'drop-active': isDragging && draggingOver === 'awaitFeedback'}">
                    <span *ngIf="getTasksByStatus('awaitFeedback').length === 0">
                        {{ searchTerm ? 'No results found' : 'No Task Await feedback' }}
                    </span>
                    <ng-container *ngFor="let task of getTasksByStatus('awaitFeedback')">
                        <div *ngIf="task.status === 'awaitFeedback'" class="taskCard" draggable="true"
                            (dragstart)="task.id ? onDragStart($event, task.id) : null" (dragend)="onDragEnd()"
                            (click)="openTaskDetail(task)">
                            <div class="category" [ngClass]="getCategoryClass(task.category)">
                                {{ task.category }}
                            </div>
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description }}</p>
                            <div class="subtasks" *ngIf="task.subtasks.length > 0">
                                <div class="progressBarSubtasks">
                                    <div class="progress" [style.width.%]="getSubtaskCompletionPercentage(task)"></div>
                                </div>
                                <div class="subtaskCounter">
                                    {{ getCompletedSubtaskCount(task) }}/{{ task.subtasks.length }} Subtasks
                                </div>
                            </div>
                            <div class="contactPrioContainer">
                                <div class="contacts">
                                    <div *ngFor="let userId of task.assignedTo.slice(0, 3)" class="contact"
                                        [style.background-color]="getUserColor(userId)">
                                        {{ getUserInitials(userId) }}
                                    </div>
                                    <div *ngIf="task.assignedTo.length > 3" class="contact more-circle">
                                        +{{ task.assignedTo.length - 3 }}
                                    </div>
                                </div>
                                <div class="priority">
                                    <img [src]="getPriorityImage(task.priority)" alt="priority icon">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>


            <!-- Done -->

            <div class="doneContainer contentContainer" (drop)="onTaskDrop($event, 'done')"
                (dragover)="onDragOver($event, 'done')">
                <div class="containerHead" id="doneHead">
                    <h4>Done</h4>
                </div>
                <div class="scrollContainer" [ngClass]="{'drop-active': isDragging && draggingOver === 'done'}">
                    <span *ngIf="getTasksByStatus('done').length === 0">
                        {{ searchTerm ? 'No results found' : 'No Task Done' }}
                    </span>
                    <ng-container *ngFor="let task of getTasksByStatus('done')">
                        <div *ngIf="task.status === 'done'" class="taskCard" draggable="true"
                            (dragstart)="task.id ? onDragStart($event, task.id) : null" (dragend)="onDragEnd()"
                            (click)="openTaskDetail(task)">
                            <div class="category" [ngClass]="getCategoryClass(task.category)">
                                {{ task.category }}
                            </div>
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description }}</p>
                            <div class="subtasks" *ngIf="task.subtasks.length > 0">
                                <div class="progressBarSubtasks">
                                    <div class="progress" [style.width.%]="getSubtaskCompletionPercentage(task)"></div>
                                </div>
                                <div class="subtaskCounter">
                                    {{ getCompletedSubtaskCount(task) }}/{{ task.subtasks.length }} Subtasks
                                </div>
                            </div>
                            <div class="contactPrioContainer">
                                <div class="contacts">
                                    <div *ngFor="let userId of task.assignedTo.slice(0, 3)" class="contact"
                                        [style.background-color]="getUserColor(userId)">
                                        {{ getUserInitials(userId) }}
                                    </div>
                                    <div *ngIf="task.assignedTo.length > 3" class="contact more-circle">
                                        +{{ task.assignedTo.length - 3 }}
                                    </div>
                                </div>
                                <div class="priority">
                                    <img [src]="getPriorityImage(task.priority)" alt="priority icon">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- AddTask Modal -->

<div class="modal-overlay" *ngIf="showAddTaskModal">
    <div class="modal-background" (click)="closeAddTaskModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <app-add-task [isModal]="true" [status]="task.status" (close)="closeAddTaskModal()"></app-add-task>
        </div>
    </div>
</div>



<!-- CardDetail Section -->

<div class="cardDetail" *ngIf="selectedTask" (click)="closeCardDetail()">
    <div class="cardInnerDetail" (click)="$event.stopPropagation()">
        <div class="cardDetailHead">
            <div class="categoryHead" [ngClass]="getCategoryClass(selectedTask.category)">
                {{ selectedTask.category }}
            </div>
            <img src="./../../../assets/img/close.svg" alt="" (click)="closeCardDetail()" />
        </div>
        <div class="cardDetailContent">
            <h1>{{ selectedTask.title }}</h1>
            <p class="description">{{ selectedTask.description }}</p>
            <p>Due Date: {{ selectedTask.dueDate }}</p>
            <div class="priority">
                <div class="prioLeft">Priority:</div>
                <div class="prioStatus">
                    <span>{{ selectedTask.priority }}</span>
                    <img [src]="getPriorityImage(selectedTask.priority)" alt="priority icon">
                </div>
            </div>
            <p>Assigned To:</p>
            <div class="contactsDetail">
                <div *ngFor="let userId of selectedTask.assignedTo" class="contactWrapper">
                    <div class="contactDetail" [style.background-color]="getUserColor(userId)">
                        {{ getUserInitials(userId) }}
                    </div>
                    <span class="userName">{{ getUserName(userId) }}</span>
                </div>
            </div>
            <p class="subt">Subtasks:</p>
            <div class="subtaskWrapper">
                <div *ngFor="let subtask of selectedTask.subtasks; let i = index" class="subtask">
                    <input type="checkbox" [checked]="subtask.done" (change)="toggleSubtaskDone(i, $event)" />
                    <span>{{ subtask.title }}</span>
                </div>
            </div>
        </div>
        <div class="detailButtonContainer">
            <div *ngIf="selectedTask?.id" (click)="deleteTask(selectedTask!.id)" class="deleteDetailButton"> <img
                    src="./../../../assets/img/delete.png" alt=""> Delete</div>
            <div class="line"></div>
            <div class="editDetailButton" (click)="openEditTaskModal(selectedTask);  $event.stopPropagation()"><img
                    src="./../../../assets/img/edit1.png" alt=""> Edit</div>
        </div>
    </div>
</div>


<!-- EditCard Section -->

<div class="editMainCard" *ngIf="showEditTaskModal">
    <div class="editCard">
        <div class="editCardHead">
            <img src="./../../../assets/img/Close.png" alt="Close" (click)="cancelEditCard()">
        </div>
        <div class="editCardContent">
            <div class="editTitleContent">
                <h4 class="editCardh4">Edit Task</h4>
                <div class="editTitleField">
                    <input type="text" placeholder="Title" [(ngModel)]="editTitle" class="editInputField">

                </div>
            </div>
            <div class="editDescriptionContent">
                <h4 class="editCardh4">Description</h4>
                <div class="editDescriptionField">
                    <textarea placeholder="Description" [(ngModel)]="editDescriptionText"
                        class="editInputField"></textarea>
                </div>
            </div>
            <div class="editDueDateContent">
                <h4 class="editCardh4">Due Date</h4>
                <div class="editDueDateField">
                    <input type="date" [(ngModel)]="editDueDate" class="editInputField">
                </div>
            </div>
            <div class="editPriorityContent">
                <h4 class="editCardh4">Priority</h4>
                <div class="taskPrio" id="taskPrio">
                    <div class="urgend buttonPrio" tabindex="0" (click)="editPriority = 'Urgent'"
                        [class.active]="editPriority === 'Urgent'" (keydown)="handlePrioKeydown($event, 'Urgent')">
                        <span>Urgent</span>
                        <img src="./../../../assets/img/urgentSymbol.png" alt="">
                    </div>
                    <div class="medium buttonPrio" tabindex="0" (click)="editPriority = 'Medium'"
                        [class.active]="editPriority === 'Medium'" (keydown)="handlePrioKeydown($event, 'Medium')">
                        <span>Medium</span>
                        <img src="./../../../assets/img/mediumSymbol.png" alt="">
                    </div>
                    <div class="low buttonPrio" tabindex="0" (click)="editPriority = 'Low'"
                        [class.active]="editPriority === 'Low'" (keydown)="handlePrioKeydown($event, 'Low')">
                        <span>Low</span>
                        <img src="./../../../assets/img/lowSymbol.png" alt="">
                    </div>
                </div>
            </div>
            <div class="editAssignedToContent">
                <h4 class="editCardh4">Assigned To</h4>
                <div class="editAssignedToField" (click)="toggleDropdown()">
                    <div *ngFor="let userId of selectedTask?.assignedTo" class="editContactWrapper">
                        <div class="editContactDetail" [style.background-color]="getUserColor(userId)">
                            {{ getUserInitials(userId) }}
                        </div>
                        <span class="userName">{{ getUserName(userId) }}</span>
                    </div>
                </div>
            </div>
            <div class="dropdown" *ngIf="dropdownOpen">
                <img src="./../../../assets/img/Close.png" alt="" (click)="toggleDropdown()">
                <div *ngFor="let user of users" class="dropdownUserContainer">

                    <input type="checkbox" [checked]="isUserAssigned(user.id!)"
                        (change)="toggleUserAssignment(user.id!, $event)" />
                    <div class="userInitials" [style.background-color]="getUserColor(user.id!)">
                        {{ getUserInitials(user.id!) }}
                    </div>
                    <span class="userName">{{ user.firstName }} {{ user.lastName }}</span>
                </div>
            </div>
            <div class="editSubtasksContent">
                <h4 class="editCardh4">Subtasks</h4>
                <div class="editSubtasksField">
                    <div class="addSubtask">
                        <input type="text" placeholder="Add new subtask" [(ngModel)]="newSubtaskTitle" />
                        <img src="./../../../assets/img/addSubtasks.png" alt="" (click)="addSubtask()">
                    </div>

                    <div *ngFor="let subtask of selectedTask?.subtasks; let i = index" class="subtaskContent">

                        <!-- View Mode -->
                        <div *ngIf="!subtask.editing" class="subtaskViewMode">
                            <span class="subtaskTitle">{{ subtask.title }}</span>
                            <div class="subtaskEditDelContainer">
                                <img src="./../../../assets/img/edit.png" alt="Edit Subtask" (click)="editSubtask(i)"
                                    class="subtaskEdit">
                                <img src="./../../../assets/img/delete.png" alt="Delete Subtask"
                                    (click)="deleteSubtask(i)" class="subtaskDel">
                            </div>
                        </div>

                        <!-- Edit Mode -->
                        <div *ngIf="subtask.editing" class="subtaskEditMode">
                            <input type="text" [(ngModel)]="subtask.title" />
                            <div class="subtaskEditDelContainer">
                                <img src="./../../../assets/img/check_large.png" alt="" (click)="saveEditSubtask(i)"
                                    class="subtaskEdit">
                                <img src="./../../../assets/img/cross_large.png" alt="" (click)="cancelEditSubtask(i)"
                                    class="subtaskDel">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="editCardButton">
            <button class="cancelEditButton" (click)="cancelEditCard()">Cancel</button>
            <button class="saveEditButton" (click)="saveTask()">OK <img src="./../../../assets/img/check.png"
                    alt=""></button>
        </div>
    </div>
</div>