// .mainContainer {
//     .mainInnerContainer {
//         .headline {

//         }
//         .addTaskContainer {
//             .addTaskLeft {}
//             .centerLine {}
//             .addTaskRight {}

//         }
//         .buttonContainer {

//         }
//     }
// }

@media (max-width: 1200px) {
  .mainContainer {
    left: 0 !important;
    height: calc(100% - 196px) !important;
    @include dFlex();
    .mainInnerContainer {
      margin-left: 0px !important;
      margin-top: 0px !important;
      .headline {
      }
      .addTaskContainer {
        .addTaskLeft {
        }
        .centerLine {
        }
        .addTaskRight {
        }
      }
      .buttonContainer {
      }
    }
  }
}
