<!-- <div class="mainContainer">
    <div class="mainInnerContainer">
        <div class="headline">
            <h1>Add Task</h1>
        </div>
        <div class="addTaskContainer">
            <div class="addTaskLeft">
                <h4>Title <span>*</span></h4>
                <input class="inputFieldAddTask" type="text" id="title">
                <h4>Description</h4>
                <textarea class="inputFieldAddTask textarea" id="description"></textarea>
                <h4>Assigned to</h4>
                <select class="inputFieldAddTask selectFieldAddTask buttonPrio" name="contacts"
                    id="taskContacts"></select>
            </div>
            <div class="centerLine"></div>
            <div class="addTaskRight">
                <h4>Due date <span>*</span></h4>
                <input class="inputFieldAddTask" type="date" id="dueDate">
                <h4>Prio</h4>
                <div class="taskPrio" id="taskPrio">
                    <div class="urgend buttonPrio" id="urgend">
                        <span>Urgend</span>
                        <img src="./../../../assets/img/urgentSymbol.png" alt="">
                    </div>
                    <div class="medium buttonPrio" id="medium">
                        <span>Medium</span>
                        <img src="./../../../assets/img/mediumSymbol.png" alt="">
                    </div>
                    <div class="low buttonPrio" id="low">
                        <span>Low</span>
                        <img src="./../../../assets/img/lowSymbol.png" alt="">
                    </div>
                </div>
                <div class="category">
                    <h4>Category <span>*</span></h4>
                    <select class="inputFieldAddTask selectFieldAddTask" name="category" id="category">
                        <option value="taskCategory">Select task category</option>
                        <option value="techTask">Technical Task</option>
                        <option value="userStory">User Story</option>
                    </select>
                </div>
                <div class="subtasks">
                    <h4>Subtasks</h4>
                    <div class="subtaskContainer">
                        <input class="inputFieldAddTask" type="text" id="subtask">
                        <div class="addSubtask"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonContainer">
            <div class="required"><span>*</span> This field is required</div>
            <div class="addTaskButtons">
                <div class="clearButton">Clear <img src="./../../../assets/img/cross.png" alt=""></div>
                <div class="createButton">Create Task <img src="./../../../assets/img/check.png" alt=""></div>
            </div>
        </div>
    </div> -->

<div class="mainContainer">
    <div class="mainInnerContainer">
        <div class="headline">
            <h1>Add Task</h1>
        </div>
        <div class="addTaskContainer">
            <div class="addTaskLeft">
                <h4>Title <span>*</span></h4>
                <input class="inputFieldAddTask" type="text" id="title" [(ngModel)]="task.title">

                <h4>Description</h4>
                <textarea class="inputFieldAddTask textarea" id="description" [(ngModel)]="task.description"></textarea>

                <h4>Assigned to</h4>
                <div class="dropdown">
                    <div class="dropdown-button inputFieldAddTask" (click)="toggleDropdown()"><span>Select contacts to
                            assign</span><img src="./../../../assets/img/arrow-down.png" alt="">
                    </div>
                    <div class="dropdown-content" [style.display]="dropdownOpen ? 'block' : 'none'">
                        <div *ngFor="let user of users" class="user-row">
                            <input type="checkbox" [id]="user.id" (change)="toggleAssignedTo(user)" />
                            <label [for]="user.id">{{ user.firstName }} {{ user.lastName }}</label>
                        </div>
                    </div>
                </div>

                <div class="selected-users">
                    <div *ngFor="let user of assignedUsers.slice(0, 3)" class="user-circle"
                        [ngStyle]="{ 'background-color': user.color }">
                        {{ user.initials }}
                    </div>
                    <div *ngIf="assignedUsers.length > 3" class="user-circle more-circle">
                        +{{ assignedUsers.length - 3 }}
                    </div>
                </div>
            </div>

            <div class="centerLine"></div>

            <div class="addTaskRight">
                <h4>Due date <span>*</span></h4>
                <input class="inputFieldAddTask" style="cursor: pointer;" type="date" id="dueDate"
                    [(ngModel)]="task.dueDate">

                <h4>Prio</h4>
                <div class="taskPrio" id="taskPrio">
                    <div class="urgend buttonPrio" tabindex="0" (click)="setPriority('Urgend')"
                        [class.active]="task.priority === 'Urgend'" (keydown)="handlePrioKeydown($event, 'Urgend')">
                        <span>Urgend</span>
                        <img src="./../../../assets/img/urgentSymbol.png" alt="">
                    </div>
                    <div class="medium buttonPrio" tabindex="0" (click)="setPriority('Medium')"
                        [class.active]="task.priority === 'Medium'" (keydown)="handlePrioKeydown($event, 'Medium')">
                        <span>Medium</span>
                        <img src="./../../../assets/img/mediumSymbol.png" alt="">
                    </div>
                    <div class="low buttonPrio" tabindex="0" (click)="setPriority('Low')"
                        [class.active]="task.priority === 'Low'" (keydown)="handlePrioKeydown($event, 'Low')">
                        <span>Low</span>
                        <img src="./../../../assets/img/lowSymbol.png" alt="">
                    </div>
                </div>


                <h4>Category <span>*</span></h4>
                <select class="inputFieldAddTask selectFieldAddTask" [(ngModel)]="task.category">
                    <option value="" disabled>Select task category</option>
                    <option value="Technical Task">Technical Task</option>
                    <option value="User Story">User Story</option>
                </select>


                <div class="subtasks">
                    <h4>Subtasks</h4>
                    <div class="subtaskContainer">
                        <div class="subtaskInputWrapper inputFieldAddTask">
                            <div class="subtaskInput" contenteditable="true" #subtaskInput
                                (keydown)="preventEnter($event)"></div>
                            <img src="./../../../assets/img/addSubtasks.png" alt="Add Subtask" class="addSubtask"
                                (click)="addSubtask(subtaskInput)">
                        </div>
                    </div>

                    <div class="innerLIContainer" *ngIf="task.subtasks.length > 0">
                        <ul class="listClass">
                            <li *ngFor="let subtask of task.subtasks; let i = index">
                                {{ subtask }}
                                <img src="./../../../assets/img/delete.png" alt="Delete Subtask"
                                    (click)="deleteSubtask(i)" class="deleteIcon">
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="buttonContainer">
                    <div class="required"><span>*</span> This field is required</div>
                    <div class="addTaskButtons">
                        <div class="clearButton" (click)="clearForm()">Clear <img src="./../../../assets/img/cross.png"
                                alt="">
                        </div>
                        <div class="createButton" (click)="createTask()">Create Task <img
                                src="./../../../assets/img/check.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>