@import "./../../styles.scss";

@media (max-width: 1200px) {
  .mainContainer {
    left: 0;
    height: calc(100% - 196px);
    width: 100%;
    @include dFlex();
    .mainInnerContainer {
      margin-left: 0px;
      margin-top: 0px;
      @include flexDir(column);
      .headline {
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-left: 10vw;
        h1 {
          font-size: 55px;
          margin-left: 41px;
        }
      }
      .addTaskContainer {
        .addTaskLeft {
          margin-right: 5px;
          .inputContainer {
            .inputFieldAddTask {
              max-width: 440px;
              width: 100%;
            }
          }
        }
        .centerLine {
          height: 400px;
        }
        .addTaskRight {
          .inputContainer {
            .inputFieldAddTask {
              max-width: 440px;
              width: 100%;
            }
          }
          .selectFieldAddTask {
            max-width: 470px;
            width: 100%;
          }
        }
      }
      .buttonContainer {
        margin-top: 66px;
        .buttonInnerContainer {
          .addTaskButtons {
            .clearButton {
              width: 100px;
              height: 44px;
            }
            .createButton {
              width: 160px;
              height: 48px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .addTaskButtons {
    margin-right: 1vw;
  }
  .buttonPrio {
    font-size: 16px;
    padding: 8px 4px;
    img {
      width: 16px;
    }
  }
}

@media (max-width: 850px) {
  .mainContainer {
    overflow-x: hidden;
    .mainInnerContainer {
      height: 95%;
      .headline {
        h1 {
          margin-left: 23px;
        }
      }
      .addTaskContainer {
        flex-direction: column;
        height: 90%;
        overflow-y: scroll;
        box-sizing: border-box;
        .addTaskLeft {
          width: 98%;
          margin-left: 0;
          .inputContainer {
            width: 100%;
            .inputFieldAddTask {
              max-width: 100%;
              width: 100%;
            }
          }
          .dropdown {
            .dropdown-content {
              max-width: 100%;
              width: 93%;
            }
          }
        }
        .centerLine {
          display: none;
        }
        .addTaskRight {
          width: 98%;
          margin-left: 0;
          .inputContainer {
            width: 100%;
            .inputFieldAddTask {
              max-width: 100%;
              width: 100%;
            }
            .subtasks {
              .innerLIContainer {
                max-width: 100%;
                .listClass {
                  box-sizing: border-box;
                  width: 100%;
                  max-width: 100%;
                  li {
                    img {
                      margin-right: 7px;
                    }
                  }
                }
              }
            }
          }
          .taskPrio {
            width: 70%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
          }
        }
      }
      .buttonContainer {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 580px) {
  .mainContainer {
    .mainInnerContainer {
      .headline {
        h1 {
          margin-left: 12px;
        }
      }
      .buttonContainer {
        justify-content: center;
        .buttonInnerContainer {
          flex-direction: column;
          gap: 5px;
          margin-bottom: 5px;
          width: 100%;
          .addTaskButtons {
            width: 100%;
          }
          .required {
            margin-left: 0;
          }
          .addTaskButtons {
            margin-right: 0;
            .clearButton {
              width: 100%;
              height: 44px;
              font-size: 16px;
            }
            .createButton {
              width: 100%;
              height: 48px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .mainContainer {
    .mainInnerContainer {
      .addTaskContainer {
        .addTaskLeft {
          .dropdown {
            .dropdown-content {
              box-sizing: border-box;
              width: 100%;
            }
          }
        }
        .addTaskRight {
          .taskPrio {
            width: 85%;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .mainContainer {
    .mainInnerContainer {
      .addTaskContainer {
        .addTaskLeft {
          .dropdown {
            .dropdown-button {
              font-size: 16px;
            }
            .dropdown-content {
              box-sizing: border-box;
            }
          }
        }
        .addTaskRight {
          .taskPrio {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .mainContainer {
    .validation-overlay {
      .validation-overlay-content {
        max-width: 300px;
        box-sizing: border-box;
      }
    }
    .mainInnerContainer {
      .addTaskContainer {
        .addTaskLeft {
          .dropdown {
            .dropdown-button {
              span {
                font-size: 16px;
              }
            }
            .dropdown-content {
              .user-row {
                input {
                  width: 16px;
                  height: 16px;
                }
                .userInitials {
                  width: 25px;
                  height: 25px;
                  font-size: 14px;
                }
                label {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .addTaskRight {
          .taskPrio {
            width: 100%;
            .buttonPrio {
              font-size: 12px;
              padding: 8px 0;
              max-width: 80px;
              img {
                width: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) and (max-height: 750px) {
  .mainContainer {
    .mainInnerContainer {
      .headline {
        h1 {
          font-size: 40px;
        }
      }
      .buttonContainer {
        margin-top: 8px;
        .buttonInnerContainer {
          .required {
            span {
              font-size: 14px;
            }
          }
          .addTaskButtons {
            .clearButton {
              width: 100%;
              height: 32px;
              font-size: 16px;
            }
            .createButton {
              width: 100%;
              height: 36px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
