@import "./fonts.scss";

$bg_white: #f6f6f6;
$white: #ffffff;
$dblue: #2a3647;
$mblue: #2a3d59;
$lblue: #29abe2;
$linkblue: #007cee;
$red: red;
$urgend: #ff3d00;
$medium: #ffa800;
$low: #7ae229;
$userStory: #0038ff;
$techTask: #1fd7c1;
$borderGrey: #a8a8a8;
$inputGrey: #d1d1d1;
$noTaskGrey: #e7e7e7;
$navGrey: #cdcdcd;
$boardHead: #42526e;

@mixin dFlex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin flexDir($dir, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: $bg_white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  @include dFlex();
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 6px; /* Breite des Scrollbalkens */
}

::-webkit-scrollbar-track {
  background: transparent; /* Unsichtbarer track */
}

::-webkit-scrollbar-thumb {
  background-color: $inputGrey; /* Farbe des Thumbs */
  border-radius: 4px;
  border: 2px solid transparent; /* Transparenter Rand */
  margin-left: -4px;
}
