@import "../../../styles.scss";

.mainContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 96px;
  left: 232px;
  @include dFlex();
  .contactList {
    width: 456px;
    height: 100%;
    background-color: $white;
    box-shadow: -1px 4px 6px rgba(0, 0, 0, 0.15);
    .contactButton {
      @include dFlex();
      .addContactButton {
        @include dFlex();
        gap: 16px;
        width: 352px;
        height: 56px;
        background-color: $dblue;
        border-radius: 10px;
        color: $white;
        font-size: 21px;
        line-height: 26px;
        margin-top: 20px;
        margin-bottom: 20px;
        img {
          width: 29px;
          height: 29px;
          margin-top: -2px;
        }
      }
    }
    .contactListContent {
      height: calc(100% - (96px * 2));
      overflow-y: scroll;

      .letterGroup {
        h2 {
          margin-left: 88px;
          font-size: 20px;
          font-weight: 400;
        }
        .colored-line {
          border: none;
          height: 2px;
          border-radius: 3px;
          background-color: $inputGrey;
          width: 352px;
        }
        .userCard {
          @include dFlex($jc: flex-start);
          gap: 20px;
          margin-left: 73px;
          margin-top: 20px;
          cursor: pointer;
          &:last-child {
            margin-bottom: 20px;
          }
          .userInitials {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            color: $white;
            font-size: 12px;
            font-weight: 400;
            @include dFlex();
          }
          .userDetails {
            h3 {
              font-size: 20px;
              font-weight: 400;
              margin-bottom: 6px;
              margin-top: 6px;
            }
            p {
              font-size: 16px;
              font-weight: 400;
              color: $linkblue;
              margin-bottom: 6px;
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
  .contactShow {
    width: calc(100% - 456px);
    height: 100%;
    position: relative;
    @include flexDir(column, flex-start, flex-start);
    .headline {
      @include dFlex();
      gap: 20px;
      margin-top: 40px;
      margin-left: 55px;
      h1 {
        font-size: 61px;
        font-weight: 700;
        line-height: 73.2px;
      }
      .line {
        width: 3px;
        border-radius: 5px;
        height: 59px;
        background-color: $lblue;
      }
      h2 {
        font-size: 27px;
        line-height: 32.4px;
      }
    }
    .contactCard {
      margin-left: 55px;
      border: 1px solid $inputGrey;
      border-radius: 20px;
      background-color: $white;
      .contactCardHeader {
        margin: 30px;
        @include dFlex();
        gap: 20px;
        .inicialCircle {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: $lblue;
          color: $white;
          font-size: 47px;
          font-weight: 500;
          border: 3px solid $white;
          @include dFlex();
        }
        .nameEditContainer {
          h1 {
            font-size: 47px;
            line-height: 56.4px;
            font-weight: 500;
            margin: 10px;
          }
          .nameEditButtonContainer {
            @include dFlex($jc: flex-start);
            gap: 24px;
            margin-left: 10px;
            .editContainer,
            .deleteContainer {
              @include dFlex();
              cursor: pointer;

              img {
                width: 24px;
                height: 24px;
                margin-right: 4px;
              }

              span {
                font-size: 16px;
              }
            }
          }
        }
      }
      .contactCardInfo {
        margin: 30px;
        h3 {
          font-size: 20px;
          font-weight: 400;
        }
        .contactEmail {
          margin-top: 26px;
          h4 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 6px;
          }
          a {
            font-size: 16px;
            font-weight: 400;
            color: $linkblue;
            text-decoration: none;
          }
        }
        .contactPhone {
          margin-top: 26px;
          h4 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 6px;
          }
          span {
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
.editContactMain {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include dFlex();
  width: 100%;
  height: 100%;
  .editContactCard {
    width: 1000px;
    height: 570px;
    background-color: $white;
    border-radius: 20px;
    border: none;
    @include dFlex();
    position: relative;
    .editContactInfo {
      @include flexDir(column, flex-start, flex-start);
      background-color: $dblue;
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;
      border-radius: 17px 0 0 17px;
      img {
        width: 54px;
        height: 66px;
        margin-top: 38%;
        margin-left: 30px;
      }
      h2 {
        font-size: 56px;
        font-weight: 700;
        color: $white;
        margin-bottom: 10px;
        margin-left: 30px;
      }
      .editContactLine {
        width: 90px;
        height: 3px;
        background-color: $lblue;
        border-radius: 5px;
        margin-left: 30px;
        border: none;
      }
    }
    .editContactEditForm {
      position: absolute;
      left: 40%;
      @include dFlex();
      width: 60%;
      height: 100%;
      gap: 20px;
      .inicials {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        color: $white;
        font-size: 47px;
        font-weight: 500;
        @include dFlex();
      }
      .editForm {
        width: 55%;
        .editFormRow {
          margin-bottom: 5px;
          .editFormInput {
            width: 100%;
            input {
              width: 100%;
              height: 40px;
              font-size: 20px;
              border-radius: 10px;
              margin-bottom: 10px;
              outline: none;
              border: 1px solid $inputGrey;
              &:focus {
                border-color: $lblue;
              }
            }
            #color {
              width: 80px;
              height: 30px;
              margin-bottom: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
    .buttonContainer {
      position: absolute;
      bottom: 20px;
      left: 40%;
      width: 60%;
      @include dFlex($jc: flex-start);
      gap: 20px;
      margin-bottom: 20px;
      .deleteContactButton {
        width: 120px;
        height: 40px;
        background-color: $white;
        border-radius: 10px;
        color: $dblue;
        font-size: 20px;
        line-height: 24px;
        @include dFlex($jc: center);
        cursor: pointer;
        border: 2px solid $dblue;
        margin-left: 35%;
        &:hover {
          border-color: $lblue;
          color: $lblue;
        }
      }
      .editContactButton {
        width: 120px;
        height: 40px;
        background-color: $dblue;
        border-radius: 10px;
        color: $white;
        font-size: 20px;
        line-height: 24px;
        border: none;
        @include dFlex($jc: center);
        cursor: pointer;

        margin-right: 60px;
        &:hover {
          background-color: $lblue;
        }
      }
    }
  }
}

.colorRow {
  @include dFlex($jc: flex-start);
  gap: 20px;
}

.addContactMain {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include dFlex();
  width: 100%;
  height: 100%;
  .addContactCard {
    width: 1000px;
    height: 570px;
    background-color: $white;
    border-radius: 20px;
    border: none;
    @include dFlex();
    position: relative;
    .addContactInfo {
      @include flexDir(column, flex-start, flex-start);
      background-color: $dblue;
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;
      border-radius: 17px 0 0 17px;
      img {
        width: 54px;
        height: 66px;
        margin-top: 38%;
        margin-left: 30px;
      }
      h2 {
        font-size: 56px;
        font-weight: 700;
        color: $white;
        margin-bottom: 0px;
        margin-left: 30px;
      }
      h3 {
        font-size: 24px;
        font-weight: 400;
        color: $white;
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 10px;
      }
      .addContactLine {
        width: 90px;
        height: 3px;
        background-color: $lblue;
        border-radius: 5px;
        margin-left: 30px;
        border: none;
      }
    }
    .addContactForm {
      position: absolute;
      left: 40%;
      @include dFlex();
      width: 60%;
      height: 100%;
      gap: 20px;
      .inicials {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        color: $white;
        font-size: 47px;
        font-weight: 500;
        @include dFlex();
      }
      .addForm {
        width: 55%;
        .addFormRow {
          margin-bottom: 5px;
          .addFormInput {
            width: 100%;
            input {
              width: 100%;
              height: 40px;
              font-size: 20px;
              border-radius: 10px;
              margin-bottom: 10px;
              outline: none;
              border: 1px solid $inputGrey;
              padding-left: 10px;
              &:focus {
                border-color: $lblue;
              }
            }
            #color {
              width: 80px;
              height: 30px;
              margin-bottom: 0;
              padding-left: 2px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .buttonContainer {
      position: absolute;
      bottom: 20px;
      left: 40%;
      width: 60%;
      @include dFlex($jc: flex-start);
      gap: 20px;
      margin-bottom: 20px;
      .cancelContactButton {
        width: 120px;
        height: 40px;
        background-color: $white;
        border-radius: 10px;
        color: $dblue;
        font-size: 20px;
        line-height: 24px;
        @include dFlex($jc: center);
        cursor: pointer;
        border: 2px solid $dblue;
        margin-left: 35%;
        .cancelIcon {
          width: 14px;
          height: 14px;
          margin-left: 10px;
          transition: all 0.3s ease;
        }
        &:hover .cancelIcon {
          content: url("./../../../assets/img/blue_cross.png"); // Hier wird das Bild beim Hover geändert
        }
        &:hover {
          border-color: $lblue;
          color: $lblue;
        }
      }
      .addContactButton {
        width: 214px;
        height: 40px;
        background-color: $dblue;
        border-radius: 10px;
        color: $white;
        font-size: 21px;
        line-height: 24px;
        @include dFlex($jc: center);
        cursor: pointer;
        border: none;
        &:hover {
          background-color: $lblue;
        }
        img {
          width: 14px;
          height: 14px;
          margin-left: 10px;
        }
      }
    }
  }
}

.colorRow {
  @include dFlex($jc: flex-start);
  gap: 20px;
}
