<div class="mainContent">
    <div class="contactList">
        <div class="contactButton">
            <button class="addContactButton" (click)="addContact()">Add New Contact <img
                    src="./../../../assets/img/person_add.png" alt=""></button>
        </div>
        <div class="contactListContent">
            <ng-container *ngFor="let letter of groupedUsers | keyvalue">
                <div class="letterGroup">
                    <h2>{{ letter.key }}</h2>
                    <hr class="colored-line">
                    <ng-container *ngFor="let user of letter.value">
                        <div class="userCard" (click)="showContactCard(user)">
                            <div class="userInitials" [ngStyle]="{ 'background-color': user.color }">
                                {{ user.initials }}
                            </div>
                            <div class="userDetails">
                                <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="contactShow">
        <div class="headline">
            <h1>Contacts</h1>
            <div class="line"></div>
            <h2>Better with a team</h2>
        </div>
        <div class="contactCard" *ngIf="selectedUser" #contactCard style="opacity: 0; transform: translateX(100%);">
            <div class="contactCardHeader">
                <div class="inicialCircle" [ngStyle]="{ 'background-color': selectedUser.color }">
                    {{ selectedUser.initials }}
                </div>
                <div class="nameEditContainer">
                    <h1>{{ selectedUser.firstName }} {{ selectedUser.lastName }}</h1>
                    <div class="nameEditButtonContainer">
                        <div class="editContainer">
                            <img src="./../../../assets/img/edit1.png" alt=""><span>Edit</span>
                        </div>
                        <div class="deleteContainer">
                            <img src="./../../../assets/img/delete.png" alt=""><span>Delete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contactCardInfo">
                <h3>Contact Information</h3>
                <div class="contactEmail">
                    <h4>Email</h4>
                    <a href="mailto:{{ selectedUser.email }}">{{ selectedUser.email }}</a>
                </div>
                <div class="contactPhone" *ngIf="selectedUser.phone">
                    <h4>Phone</h4>
                    <span>{{ selectedUser.phone }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="editContactMain">
    <div class="editContactCard"></div>
</div>
<div class="addContactMain">
    <div class="addContactCard"></div>
</div>