<div class="mainContent">
    <div class="contactList">
        <div class="contactButton">
            <button class="addContactButton" (click)="addContact()">Add New Contact <img
                    src="./../../../assets/img/person_add.png" alt=""></button>
        </div>
        <div class="contactListContent"></div>
    </div>
    <div class="contactShow">
        <div class="headline">
            <h1>Contacts</h1>
            <div class="line"></div>
            <h2>Better with a team</h2>
        </div>
        <div class="contactCard">
            <div class="contactCardHeader">
                <div class="inicialCircle">TH</div>
                <div class="nameEditContainer">3
                    <h1>first + lastname</h1>
                    <div class="nameEditButtonContainer">
                        <div class="editContainer">
                            <img src="./../../../assets/img/edit1.png" alt=""><span>Edit</span>
                        </div>
                        <div class="deleteContainer">
                            <img src="./../../../assets/img/delete.png" alt=""><span>Delete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contactCardInfo">
                <h3>Contact Information</h3>
                <div class="contactEmail">
                    <h4>Email</h4>
                    <a href="user.mail">user.mail</a>
                </div>
                <div class="contactPhone">
                    <h4>Phone</h4>
                    <span>user.phone</span>
                </div>
            </div>
        </div>
    </div>
</div>