<div class="mainContent">
    <div class="contactList" *ngIf="!isSmallScreen || (isSmallScreen && showContactList)">
        <div class="contactButton">
            <button class="addContactButton" (click)="openAddContact()"><span>Add New Contact </span><img
                    src="./../../../assets/img/person_add.png" alt=""></button>
        </div>
        <div class="contactListContent">
            <ng-container *ngFor="let letter of groupedUsers | keyvalue">
                <div class="letterGroup">
                    <h2>{{ letter.key }}</h2>
                    <hr class="colored-line">
                    <ng-container *ngFor="let user of letter.value">
                        <div class="userCard" (click)="showContactCard(user)">
                            <div class="userInitials" [ngStyle]="{ 'background-color': user.color }">
                                {{ user.initials }}
                            </div>
                            <div class="userDetails">
                                <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="contactShow" *ngIf="!isSmallScreen || (isSmallScreen && !showContactList)">
        <div class="headline">
            <h1>Contacts</h1>
            <div class="line"></div>
            <h2>Better with a team</h2>
        </div>
        <div class="contactCard" *ngIf="selectedUser" #contactCard style="opacity: 0; transform: translateX(100%);">
            <div class="contactCardHeader">
                <div class="inicialCircle" [ngStyle]="{ 'background-color': selectedUser.color }">
                    {{ selectedUser.initials }}
                </div>
                <div class="nameEditContainer">
                    <h1>{{ selectedUser.firstName }} {{ selectedUser.lastName }}</h1>
                    <div class="nameEditButtonContainer">
                        <div class="editContainer" (click)="openEditContact()">
                            <img src="./../../../assets/img/edit1.png" alt=""><span>Edit</span>
                        </div>
                        <div class="deleteContainer" (click)="deleteContact()">
                            <img src="./../../../assets/img/delete.png" alt=""><span>Delete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contactCardInfo">
                <h3>Contact Information</h3>
                <div class="contactEmail">
                    <h4>Email</h4>
                    <a href="mailto:{{ selectedUser.email }}">{{ selectedUser.email }}</a>
                </div>
                <div class="contactPhone" *ngIf="selectedUser.phone">
                    <h4>Phone</h4>
                    <span>{{ selectedUser.phone }}</span>
                </div>
                <img src="./../../../assets/img/Vector.png" alt="" (click)="goBackToList()">
            </div>
        </div>
    </div>
</div>

<div class="messageContainer" *ngIf="message">
    <div class="message">
        <p>{{ message }}</p>
    </div>
</div>

<div class="editContactMain" *ngIf="editMode && selectedUser" (click)="closeEditContact($event)">
    <div class="editContactCard" (click)="$event.stopPropagation()">
        <div class="editContactInfo">
            <img src="./../../../assets/img/join-logo-white.png" alt="">
            <h2>Edit Contact</h2>
            <hr class="editContactLine">
        </div>
        <div class="editContactEditForm">
            <div class="inicials" [ngStyle]="{ 'background-color': selectedUser.color }">
                {{ selectedUser.initials }}
            </div>
            <div class="editForm">
                <div class="editFormRow">
                    <div class="editFormInput">
                        <input type="text" id="firstName" [(ngModel)]="selectedUser.firstName" placeholder="First name">
                    </div>
                    <div class="editFormInput">
                        <input type="text" id="lastName" [(ngModel)]="selectedUser.lastName" placeholder="Last name">
                    </div>
                </div>
                <div class="editFormRow">
                    <div class="editFormInput">
                        <input type="email" id="email" [(ngModel)]="selectedUser.email" placeholder="Email">
                    </div>
                    <div class="editFormInput">
                        <input type="text" id="phone" [(ngModel)]="selectedUser.phone" placeholder="Phone">
                    </div>
                </div>
                <div class="editFormRow">
                    <div class="editFormInput colorRow">
                        <label for="color">Color</label>
                        <input type="color" id="color" [(ngModel)]="selectedUser.color">
                    </div>
                </div>

            </div>
        </div>
        <div class="buttonContainer">
            <button class="deleteContactButton" (click)="deleteContact()">Delete</button>
            <button class="editContactButton" (click)="editContact()">Save</button>
        </div>
    </div>
</div>




<div class="addContactMain" *ngIf="addMode" (click)="closeAddContact($event)">
    <div class="addContactCard" (click)="$event.stopPropagation()">
        <div class="addContactInfo">
            <img src="./../../../assets/img/join-logo-white.png" alt="">
            <h2>Add Contact</h2>
            <h3>Tasks are better with a team!</h3>
            <hr class="addContactLine">
        </div>
        <div class="addContactForm">
            <div class="inicials" [ngStyle]="{ 'background-color': newUser.color }">
                {{ newUser.initials }}
            </div>
            <div class="addForm">
                <div class="addFormRow">
                    <div class="addFormInput">
                        <input type="text" id="firstName" [(ngModel)]="newUser.firstName"
                            placeholder="First name (required)" required>
                    </div>
                    <div class="addFormInput">
                        <input type="text" id="lastName" [(ngModel)]="newUser.lastName"
                            placeholder="Last name (required)" required>
                    </div>
                </div>
                <div class="addFormRow">
                    <div class="addFormInput">
                        <input type="email" id="email" [(ngModel)]="newUser.email" placeholder="Email (required)"
                            required>
                    </div>
                    <div class="addFormInput">
                        <input type="text" id="phone" [(ngModel)]="newUser.phone" placeholder="Phone">
                    </div>
                </div>
                <div class="addFormRow">
                    <div class="addFormInput colorRow">
                        <label for="color">Color</label>
                        <input type="color" id="color" [(ngModel)]="newUser.color">
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonContainer">
            <button class="cancelContactButton" (click)="closeAddContact()">Cancel <img class="cancelIcon"
                    src="./../../../assets/img/cross.png" alt=""></button>
            <button class="addContactButton" (click)="saveNewContact()">Create contact <img
                    src="./../../../assets/img/check.png" alt=""></button>
        </div>
    </div>


</div>