@media (max-width: 1400px) {
  .contactListContent {
    height: calc(100% - 196px) !important;
  }
  .contactShow {
    .headline {
      h1 {
        font-size: 48px !important;
        line-height: 52px !important;
      }

      h2 {
        font-size: 20px !important;
        line-height: 22px !important;
        font-weight: 400 !important;
      }
    }
  }
}

@media (max-width: 1250px) {
  .contactCard {
    .contactCardHeader {
      .inicialCircle {
        width: 80px !important;
        height: 80px !important;
        font-size: 40px !important;
      }
      .nameEditContainer {
        h1 {
          font-size: 26px !important;
          line-height: 28px !important;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .mainContent {
    left: 0px !important;
    height: calc(100% - 196px) !important;
    .contactList {
      .contactListContent {
        height: calc(100% - 96px) !important;
      }
    }
    .contactShow {
      .headline {
        flex-direction: column !important;
        align-items: flex-start !important;
        position: relative !important;
        gap: 0px !important;
        margin-bottom: 10px !important;
        h1 {
          font-size: 48px !important;
          line-height: 52px !important;
          margin-bottom: 0px !important;
        }
        .line {
          height: 3px !important;
          width: 94px !important;
          position: absolute !important;
          bottom: 0px !important;
          left: 0px !important;
        }
        h2 {
          font-size: 20px !important;
          line-height: 22px !important;
          margin-top: 2px !important;
          margin-bottom: 5px !important;
          font-weight: 400 !important;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .mainContent {
    .contactList {
      width: 70% !important;
      position: relative !important;
      .contactButton {
        position: absolute !important;
        right: 20px !important ;
        bottom: 20px !important;
        .addContactButton {
          width: 60px !important;
          height: 60px !important;
          border-radius: 50px !important;
          span {
            display: none !important;
          }
        }
      }
      .contactListContent {
        height: 100% !important;
        .letterGroup {
          .colored-line {
            width: 85% !important;
          }
        }
      }
    }
    .contactShow {
      width: 70% !important;
      align-items: center !important;
      .headline {
        margin-left: 0 !important;
      }
      .contactCard {
        margin-left: 0 !important;
        .contactCardInfo {
          position: relative;
          img {
            display: block !important;
            position: absolute;
            bottom: 0px;
            right: 0px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .addContactMain {
    .addContactCard {
      width: 450px !important;
      height: 75% !important;
      .addContactInfo {
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 40% !important;
        border-radius: 17px 17px 0 0 !important;
        img {
          width: 42px !important;
        }
        h2 {
          font-size: 50px !important;
          margin-top: 20px;
        }
        h3 {
          font-size: 20px !important;
          margin-top: 10px;
        }
        .addContactLine {
          margin-top: 0 !important;
        }
      }
      .addContactForm {
        position: absolute !important;
        top: 40% !important;
        left: 0 !important;
        width: 100% !important;
        height: 54% !important;
      }
      .buttonContainer {
        width: 100% !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        justify-content: flex-end !important;
        .cancelContactButton {
          margin-left: 0 !important;
        }
        .addContactButton {
          margin-right: 20px !important;
        }
      }
    }
  }
  .editContactMain {
    .editContactCard {
      width: 450px !important;
      height: 75% !important;
      .editContactInfo {
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 40% !important;
        border-radius: 17px 17px 0 0 !important;
        img {
          width: 42px !important;
          margin-top: 8% !important;
        }
        h2 {
          font-size: 50px !important;
          margin-top: 20px;
        }
        .editContactLine {
          margin-top: 0 !important;
        }
      }
      .editContactEditForm {
        position: absolute !important;
        top: 40% !important;
        left: 0 !important;
        width: 100% !important;
        height: 54% !important;
      }
      .buttonContainer {
        width: 100% !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        justify-content: flex-end !important;
        .deleteContactButton {
          margin-left: 0 !important;
        }
        .editContactButton {
          margin-right: 20px !important;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .mainContent {
    .contactList {
      width: 100% !important;
      .contactListContent {
        .letterGroup {
          h2 {
            margin-left: 58px !important;
          }
          .userCard {
            margin-left: 45px !important;
          }
        }
      }
    }
    .contactShow {
      width: 100% !important;
      .headline {
        margin-top: 20px !important;
        h1 {
          font-size: 44px !important;
          line-height: 44px !important;
        }
      }
      .contactCard {
        .contactCardHeader {
          .inicialCircle {
            width: 70px !important;
            height: 70px !important;
            font-size: 34px !important;
          }
          .nameEditContainer {
            h1 {
              margin: 6px;
              font-size: 20px !important;
              line-height: 20px !important;
            }
            .nameEditButtonContainer {
              margin-left: 3px !important;
              gap: 16px !important;
              .editContainer {
                img {
                  width: 20px !important;
                  height: 20px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .addContactMain {
    .addContactCard {
      width: 350px !important;
      height: 70% !important;
      margin-top: -40px !important;
      .addContactInfo {
        img {
          width: 36px !important;
        }
        h2 {
          font-size: 40px !important;
          margin-top: 20px;
        }
        h3 {
          font-size: 16px !important;
          margin-top: 10px;
        }
        .addContactLine {
          margin-top: 0 !important;
        }
      }
      .addContactForm {
        .inicials {
          position: absolute !important;
          top: -38px !important;
          border: 2px solid $bg_white !important;
          width: 75px !important;
          height: 75px !important;
        }
        .addForm {
          margin-top: 10px !important;
          width: 100% !important;
          .addFormRow {
            margin-left: 5% !important;
            .addFormInput {
              input {
                width: 90% !important;
                height: 32px !important;
                font-size: 16px !important;
              }
            }
            .colorRow {
              #color {
                width: 80px !important;
                height: 32px !important;
                font-size: 16px !important;
              }
            }
          }
        }
      }
      .buttonContainer {
        width: 100% !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        justify-content: flex-end !important;
        .cancelContactButton {
          margin-left: 0 !important;
          width: 96px !important;
          height: 34px !important;
          font-size: 14px !important;
          line-height: 14px !important;
          img {
            width: 12px !important;
            height: 12px !important;
          }
        }
        .addContactButton {
          margin-right: 20px !important;
          width: 140px !important;
          height: 34px !important;
          font-size: 14px !important;
          line-height: 14px !important;
          img {
            width: 12px !important;
            height: 12px !important;
          }
        }
      }
    }
  }
  .editContactMain {
    .editContactCard {
      width: 350px !important;
      height: 70% !important;
      margin-top: -40px !important;
      .editContactInfo {
        img {
          width: 36px !important;
          margin-top: 8% !important;
        }
        h2 {
          font-size: 40px !important;
          margin-top: 20px;
        }
        .editContactLine {
          margin-top: 0 !important;
        }
      }
      .editContactEditForm {
        .inicials {
          position: absolute !important;
          top: -38px !important;
          border: 2px solid $bg_white !important;
          width: 75px !important;
          height: 75px !important;
          font-size: 38px !important;
        }
        .editForm {
          margin-top: 10px !important;
          width: 100% !important;
          .editFormRow {
            margin-left: 5% !important;
            .editFormInput {
              input {
                width: 90% !important;
                height: 32px !important;
                font-size: 16px !important;
              }
            }
            .colorRow {
              #color {
                width: 80px !important;
                height: 32px !important;
                font-size: 16px !important;
              }
            }
          }
        }
      }
      .buttonContainer {
        width: 100% !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        justify-content: flex-end !important;
        .deleteContactButton {
          margin-left: 0 !important;
          width: 96px !important;
          height: 34px !important;
          font-size: 14px !important;
          line-height: 14px !important;
          img {
            width: 12px !important;
            height: 12px !important;
          }
        }
        .editContactButton {
          margin-right: 20px !important;
          width: 140px !important;
          height: 34px !important;
          font-size: 14px !important;
          line-height: 14px !important;
          img {
            width: 12px !important;
            height: 12px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .mainContent {
    .contactList {
      .contactListContent {
        .letterGroup {
          h2 {
            margin-left: 36px !important;
          }
          .userCard {
            margin-left: 24px !important;
          }
        }
      }
    }
    .contactShow {
      .contactCard {
        .contactCardHeader {
          margin: 24px !important;
          gap: 8px !important;
          .inicialCircle {
            width: 50px !important;
            height: 50px !important;
            font-size: 28px !important;
          }
          .nameEditContainer {
            h1 {
              margin: 6px !important;
              font-size: 18px !important;
              line-height: 20px !important;
            }
            .nameEditButtonContainer {
              margin-left: 3px !important;
              gap: 16px !important;
              .editContainer {
                img {
                  width: 20px !important;
                  height: 20px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .addContactMain {
    .addContactCard {
      width: 300px !important;
      height: 83% !important;
      margin-top: -90px !important;

      .addContactForm {
        .addForm {
          margin-top: 10px !important;
          width: 100% !important;
          .addFormRow {
            margin-left: 5% !important;
            .addFormInput {
              input {
                width: 90% !important;
                height: 24px !important;
                font-size: 16px !important;
              }
            }
            .colorRow {
              #color {
                width: 80px !important;
                height: 24px !important;
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
  }
  .editContactMain {
    .editContactCard {
      width: 300px !important;
      height: 83% !important;
      margin-top: -90px !important;
      .editContactForm {
        .editForm {
          margin-top: 10px !important;
          width: 100% !important;
          .editFormRow {
            margin-left: 5% !important;
            .editFormInput {
              input {
                width: 90% !important;
                height: 24px !important;
                font-size: 16px !important;
              }
            }
            .colorRow {
              #color {
                width: 80px !important;
                height: 24px !important;
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
  }
}
